:root {
	/* Colors */
	--text: rgb(237, 237, 231);
	--sticky-bg: rgb(26, 15, 25);
	--bg1: rgb(63, 60, 85);
	--bg2: rgb(40, 42, 54);
	--bg2-hover: rgb(34, 37, 53);
	--bg2-active: rgb(26, 28, 41);
	--details-bg: rgb(58, 49, 73);
	--button: rgb(181, 37, 88);
	--button-hover: rgb(161, 28, 75);
	--button-active: rgb(139, 20, 62);
	--button-header-back: rgb(50, 48, 70);

/* Default style */
	background-color: var(--bg1);
	font-family: Arial;
	color: var(--text);
	scrollbar-color: var(--button) var(--bg2);
}

body {
	margin: 0;
	padding: 0;
}

header {
	text-align: center;
	background-color: var(--bg2);
	padding: 0;
	padding-top: 50px;
	margin: 0;
}

h1 {
	padding: 0;
	margin: 0;
	margin-bottom: 20px;
	font-weight: 900;
	font-size: 40px;
}

div {
	margin: 0;
	padding: 0;
}

a {
	color: var(--text);
	text-decoration: none;
	font-size: 24px;
}

i {
	display: flex;
	margin: 20px;
	margin-right: 0px;
	margin-left: 0px;
	font-style: normal;
	font-size: 18px;
}

summary {
	background-color: var(--button);
	font-size: 30px;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	cursor: pointer;
}

summary:hover {
	background-color: var(--button-hover);
}

summary:active {
	background-color: var(--button-active);
}

details {
	background-color: var(--details-bg);
	margin: 20px;
	border-style: solid;
	border-color: var(--button);
}

blockquote {
	margin-left: 9%;
	margin-right: 10%;
	padding-left: 15px;
	border: 0;
	border-left: 15px;
	border-color: var(--button);
	border-style: solid;
}

.sticky-header-button {
	color: var(--text);
}

.sticky-header-button:hover {
	opacity: 0.7;
}

.sticky-header {
	position: fixed;
	width: 100%;
	top: 0;
	padding: 6px;
	padding-left: 20px;
	gap: 20px;
	margin: 0;
	background-color: var(--sticky-bg);
	z-index: 1;
	display: flex;
	flex-direction: row;

}

.sub-title {
	font-size: 18px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 10px;
}

.nav {
	margin-top: 50px;
}

.header-button {
	background-color: var(--button-header-back);
	border-color: var(--button-header-back);
	border-style: solid;
	border-width: 4px;
	border-bottom: none;
	color: var(--text);
	font-weight: bold;
	font-size: 20px;
	margin-top: 35px;
	margin-left: 5px;
	margin-right: 5px;
	padding-top: 15px;
	padding-bottom: 0;
	padding-left: 20px;
	padding-right: 20px;
	cursor: pointer;
}

.header-button:hover {
	border-color: var(--button);
	border-style: solid;
	border-width: 4px;
	border-bottom: none;
}

.header-button:active {
	opacity: 0.3;
}

.header-button-current {
	background-color: var(--bg1);
	border-color: var(--bg1);
	border-style: solid;
	border-width: 4px;
	border-bottom: none;
	color: var(--text);
	font-weight: bold;
	font-size: 20px;
	margin-top: 35px;
	margin-left: 5px;
	margin-right: 5px;
	padding-top: 15px;
	padding-bottom: 2px;
	padding-left: 25px;
	padding-right: 20px;
	cursor: pointer;
}

.header-button-current:hover {
	border-color: var(--button);
	border-style: solid;
	border-width: 4px;
	border-bottom: 0;
}

.header-button-current:active {
	opacity: 0.3;
}

.project-preview-container {
	display: flex;
	flex-direction: row;
	margin-top: 45px;
	margin-bottom: 35px;
	padding-inline: 10px;
	gap: 10px;
}

.project-preview-link {
	margin-left: auto;
	margin-right: auto;
	font-size: 18px;
}

.project-preview {
	max-width: 480px;
	height: 430px;
	margin-left: auto;
	margin-right: auto;
	background-color: var(--bg2);
	position: relative;
	border: 15px;
	border-style: solid;
	border-color: var(--bg2);
	cursor: pointer;
}

.project-preview:hover {
	background-color: var(--bg2-hover);
	border-color: var(--bg2-hover);
}

.project-preview:active {
	background-color: var(--bg2-active);
	border-color: var(--bg2-active);
}

.preview-image {
	max-width: 100%;
	max-height: 100%;
}

.preview-button {
	background-color: var(--button);
	color: var(--text);
	border-style: none;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	position: absolute;
	bottom: 0;
	width: 100%;
	cursor: pointer;
}

.preview-button:hover {
	background-color: var(--button-hover);
}

.preview-button:active {
	background-color: var(--button-active);
}

.project-preview-small-container {
	/* display: flex; */
	display: -webkit-flex;
	/* webkit-flex-direction: column; */
	flex-direction: row;
	flex-wrap: wrap;
	/* flex-direction: row; */
	margin-top: 45px;
	margin-bottom: 35px;
	padding-inline: 10px;
	gap: 10px;
	max-width: 100%;
}

.project-preview-small {
	width: 390px;
	height: 368px;
	margin: 15px;
	margin-inline: auto;
	background-color: var(--bg2);
	position: relative;
	display: block;
	border: 10px;
	border-style: solid;
	border-color: var(--bg2);
	cursor: pointer;
}

.project-preview-small:hover {
	background-color: var(--bg2-hover);
	border-color: var(--bg2-hover);
}

.project-preview-small:active {
	background-color: var(--bg2-active);
	border-color: var(--bg2-active);
}

.preview-button-small {
	background-color: var(--button);
	color: var(--text);
	border-style: none;
	font-weight: bold;
	font-size: 12px;
	padding-top: 8px;
	padding-bottom: 8px;
	position: absolute;
	bottom: 0;
	margin-top: 20px;
	width: 100%;
	cursor: pointer;
}

.preview-button-small:hover {
	background-color: var(--button-hover);
}

.preview-button-small:active {
	background-color: var(--button-active);
}

.outer-text-container {
	padding: 20px;
}

.text-container {
	background-color: var(--bg2);
	margin: 20px;
	margin-inline: auto;
	padding: 80px;
	font-size: 20px;
	max-width: 1200px;
}

.project-overview {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: relative;
	gap: 20px;
}

.project-overview-elem {
	max-width: 600px;
}

.project-image-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 100%;
}

.project-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	height: 210px;
}

.links-button {
	font-size: 18px;
	padding: 2px;
	background-color: var(--button);
	font-weight: 500;
}

.links-button:hover {
	background-color: var(--button-hover);
}

.links-button:active {
	background-color: var(--button-active);
}

.about-me-elem {
	max-width: 480px;
	height: 430px;
	margin-left: auto;
	margin-right: auto;
	background-color: var(--bg2);
	position: relative;
	border: 15px;
	border-style: solid;
	border-color: var(--bg2);
}

/* For text highlighting: <span style="color: #ae81ff"> */
/* Comments: #75715e */
/* built-in keywords: #ae81ff */
/* user-defined keywords: #66d9ef */
/* Literal values: #ffbe21 */
/* Unused: #f92672 */
.code {
	border:solid gray;
	background: #272822;
	color: #f8f8f2;
	overflow:auto;
	width:auto;
	border-width:.1em .1em .1em .8em;
	padding:.2em .6em;
}